.mitid-core-header__text:before {
	content: "Log on to a wonderful world!";
}

.mitid-core-header__text {
	visibility: hidden;
}

.mitid-core-header__text:after {
	content: "<h1>Log p&aring; hos Addo</h1>";
}


#mitid-core-client-form {
	background-color: red;
}
